{block content}

<h2>Tvorba nového NextCloud účtu <small>(pro složku {$slozka})</small></h2>
<a n:href="Slozky:"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Zpět</a>
{control nextcloudCreateForm}

<p>
  NextCloud běží na adrese <a href="https://nextcloud.hkfree.org">nextcloud.hkfree.org</a><br>
  <b>Pozor!</b> Uživatelské jméno nelze po vytvoření účtu změnit!
</p>
{/block}
