{block content}

<h2>Změna hesla pro NextCloud účet {$username} <small>(složka {$slozka})</small></h2>
<a n:href="Slozky:"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Zpět</a>
{control nextcloudEditForm}

<p>
  Mazání NextCloud účtů zatím není implementováno. Pro smazání účtu kontaktujte <a href="mailto:bkralik@hkfree.org">bkralika</a>
</p>
  
{/block}
